<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Lorem ipsum dolor sit amet.</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="../static/img/favicon.png" rel="icon">
    <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
            rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center">

        <h1>Title</h1>
        <h2>I'm working hard to improve my portfolio and I'll ready to launch after:</h2>
        <div class="countdown d-flex justify-content-center" data-count="{{ RELEASE_DATE }}">
            <div>
                <h3>%D</h3>
                <h4>Days</h4>
            </div>
            <div>
                <h3>%H</h3>
                <h4>Hours</h4>
            </div>
            <div>
                <h3>%M</h3>
                <h4>Minutes</h4>
            </div>
            <div>
                <h3>%S</h3>
                <h4>Seconds</h4>
            </div>
        </div>

        <div class="social-links text-center">
            <a href="https://twitter.com/__Shahab____" class="twitter"><i class="icofont-twitter"></i></a>
            <a href="https://www.linkedin.com/in/shahab-mohammadi-stevelex/" class="linkedin"><i
                    class="icofont-linkedin"></i></a>
            <a href="https://github.com/shahabmohammadi" class="github"><i class="icofont-github"></i></a>
        </div>

    </div>
</header><!-- End #header -->

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>Summary Of Project</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci debitis delectus ea eaque
                    perspiciatis quod ullam vitae!</p>
            </div>

            <div class="row mt-2">
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="icofont-computer"></i></div>
                    <h4 class="title"><a href="">Lorem ipsum.</a></h4>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis
                        cupiditate doloremque earum facere ipsa neque non odio possimus qui!</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
                    <h4 class="title"><a href="">Lorem ipsum dolor.</a></h4>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet
                        cumque deleniti dolore est, eveniet fuga iure minima, quidem rem repellat repellendus vitae! A
                        debitis dignissimos distinctio illo numquam, quidem quo suscipit veritatis? Cum, iste!</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="icofont-earth"></i></div>
                    <h4 class="title"><a href="">Lorem ipsum.</a></h4>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima nesciunt
                        numquam vitae voluptates. Aliquid deleniti facilis nisi odit quo vitae?</p>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="section-title">
                <h2>Contact</h2>
            </div>
            <div class="row">
                <div class="col">
                    <div class="info">
                        <div class="row">
                            <div class="col">
                                <div class="address">
                                    <i class="icofont-google-map"></i>
                                    <h4>Location:</h4>
                                    <p>Tehran, Islamic Republic Of Iran</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="email">
                                    <i class="icofont-envelope"></i>
                                    <h4>Email:</h4>
                                    <p>develop.shahab@hotmail.com</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="phone">
                                    <i class="icofont-phone"></i>
                                    <h4>Call:</h4>
                                    <p>+98 938 936 4404</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12960.32053712825!2d51.319879!3d35.6996456!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa0a22e3f2f839a9e!2sAzadi%20Innovation%20Factory!5e0!3m2!1sen!2sru!4v1611500074643!5m2!1sen!2sru"
                            frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </section><!-- End Contact Us Section -->

</main><!-- End #main -->


<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="../static/vendor/php-email-form/validate.js"></script>
<script src="../static/vendor/jquery-countdown/jquery.countdown.min.js"></script>

<!-- Template Main JS File -->
<script src="../static/js/main.js"></script>

</body>

</html>